<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 ccl-xs-12 ">
      <div id="banner-carousel" class="carousel slide m-t-15" data-ride="carousel" data-interval="2000">
        <ol class="carousel-indicators">
          <li data-target="#banner-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#banner-carousel" data-slide-to="1"></li>
          <li data-target="#banner-carousel" data-slide-to="2"></li>
          <li data-target="#banner-carousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="../assets/images/Mobfix4.jpeg" alt="Chania" class="img-responsive">
          </div>
          <div class="item">
            <img src="../assets/images/Mobfix2.jpeg" alt="Chania" class="img-responsive">
          </div>
          <div class="item">
            <img src="../assets/images/Moafix.jpeg" alt="Flower" class="img-responsive">
          </div>
          <div class="item">
            <img src="../assets/images/Mobfix3.jpeg" alt="Flower" class="img-responsive">

          </div>

        </div>

      </div>
    </div>
  </div>
  <div class="row viewcontent">
    <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
      <h4 class="headingh4">ABOUT MOBFIX </h4>
      <p class="contentp1">
        MobFix was created to accept the day to day importance of all hand held gadgets that keep us connected to world virtually. Our team realised with insatiable appetite of India towards smartphones was on the rise and progressive research enabled us to gain knowledge of that there are about 650 million mobile phone users in India, and just over 300 million of them have a smartphone. We would like to share the information of knowing there are more than 100 smartphone brands catering to a variety of budgets in India and that we are on par with United States of America and second to China.  (Information source: CNN News)
        <br />
        The MobFix  team realises the mammoth growth of Smartphones and its related services are just going to skyrocket in the next decade with about a billion people still not using smartphones and a potential +176 Million are going to grab the smart phones in next 5 years.
        <br />
        We put in lot of research and collected data in designing a unique innovative online technology we all proudly call MobFix . We ensure it benefits all the mobile phone and device users and especially the ever increasing numbers of smartphone users.
        <br />
        On the other hand we are creating an opportunity to the new generation of skilled technicians with an opportunity to earn, learn and deliver the best service through MobFix. We are creating opportunity of employment to thousands technicians aspiring to make mobile phone repair service industry strong and sustainable. We value the skillset on hand and want to ensure we create opportunities to all on the basic fundamental of collaboration rather than competition. We believe in grooming them, training them and ensuring our techs are learning and growing as the part of ever growing family.
        <br />
        MobFix realises the importance of Customers, their mobile phones/devices and most importantly the service it would need to maintain and repair these amazing smart devices time to time for our customers. Our team is here ready to serve at click of a button and  looking forward to deliver Skill to service, Sustainability to Skill and Satisfaction in delivering both.
      </p>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
      <img src="../assets/images/Tshirt.jpeg" alt="" class="awidth" />
    </div>
  </div>

  <div class="row MobFixcontent">
    <div class="col-lg-12 col-sm-12 col-xs-12">
      <h4 class="whyMobfix1">WHY MOBFIX ?</h4>
      <div class="whyblacyimg1">
        <img src="../assets/images/8home_img.png" class="img-responsive">
      </div>

    </div>
  </div>

  <div class="row MobFixcontent1">
    <div class="col-lg-12 col-sm-12 col-xs-12">
      <h4 class="whyMobfix1">OUR TEAM</h4>
    </div>
  </div>
  <div class="row ABURow">
    <div class="col-md-3 col-sm-6 col-xs-12 AboutUs">
      <div class="container2">
        <img src="../assets/images/profileimage.jpg" alt="Avatar" class="ABUimage">
        <div class="ABUmiddle">
          <div class="ABUtext">
            Mobile service was a pre-cellular radio system linked to the public switched telephone network, was the
            radio telephone equivalent.
            <ul class="footer-social-icons2 footer-social-icons3">
              <li>
                <a href="#">
                  <img src="../assets/images/facebook_gold.png" alt="" class="footerfb" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="../assets/images/googleplus_black.png" alt="" class="footergplus2" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="../assets/images/twitter_gold.png" alt="" class="footertwitter2" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="../assets/images/linkedin_black.png" alt="" class="footerwivfi" />
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="ABUcontent">
          <a role="button" href="">
            <button type="button" class="btn ABUReadbutton">Santosh Peddi</button>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 AboutUs">
      <div class="container2">
        <img src="../assets/images/profileimage.jpg" alt="Avatar" class="ABUimage">
        <div class="ABUmiddle">
          <div class="ABUtext">
            Mobile service was a pre-cellular radio system linked to the public switched telephone network, was the
            radio telephone equivalent.
            <ul class="footer-social-icons2 footer-social-icons3">
              <li>
                <a href="#">
                  <img src="../assets/images/facebook_gold.png" alt="" class="footerfb" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="../assets/images/googleplus_black.png" alt="" class="footergplus2" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="../assets/images/twitter_gold.png" alt="" class="footertwitter2" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="../assets/images/linkedin_black.png" alt="" class="footerwivfi" />
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="ABUcontent">
          <a role="button" href="">
            <button type="button" class="btn ABUReadbutton">Kundhan</button>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 AboutUs">
      <div class="container2">
        <img src="../assets/images/profileimage.jpg" alt="Avatar" class="ABUimage">
        <div class="ABUmiddle">
          <div class="ABUtext">
            Mobile service was a pre-cellular radio system linked to the public switched telephone network, was the
            radio telephone equivalent.
            <ul class="footer-social-icons2 footer-social-icons3">
              <li>
                <a href="#">
                  <img src="../assets/images/facebook_gold.png" alt="" class="footerfb" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="../assets/images/googleplus_black.png" alt="" class="footergplus2" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="../assets/images/twitter_gold.png" alt="" class="footertwitter2" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="../assets/images/linkedin_black.png" alt="" class="footerwivfi" />
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="ABUcontent">
          <a role="button" href="">
            <button type="button" class="btn ABUReadbutton">Reza Mohammed</button>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 AboutUs">
      <div class="container2">
        <img src="../assets/images/profileimage.jpg" alt="Avatar" class="ABUimage">
        <div class="ABUmiddle">
          <div class="ABUtext">
            Mobile service was a pre-cellular radio system linked to the public switched telephone network, was the
            radio telephone equivalent.
            <ul class="footer-social-icons2 footer-social-icons3">
              <li>
                <a href="#">
                  <img src="../assets/images/facebook_gold.png" alt="" class="footerfb" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="../assets/images/googleplus_black.png" alt="" class="footergplus2" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="../assets/images/twitter_gold.png" alt="" class="footertwitter2" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="../assets/images/linkedin_black.png" alt="" class="footerwivfi" />
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="ABUcontent">
          <a role="button" href="">
            <button type="button" class="btn ABUReadbutton">Akhila Vooturi</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row MobFixcontent1">
    <div class="col-lg-12 col-sm-12 col-xs-12">
      <h4 class="whyMobfix1">BEST SOLUTION IS THE SIMPLEST IDEA!</h4>
      <p class="whyMobfixp4">
         We strive to deliver best Mobile repair service in the simplest way.
      </p>
    </div>
  </div>
  <!-- our clients -->
  <div class="row OurClient">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
      <h4 class="Oksh4">POPULAR BRANDS WE WORK WITH</h4>
      <hr class="HIWhr" />
    </div>

    <!--<div class="col-md-1 col-sm-2 col-xs-3 col-lg-1 Arrow">
      <a href="#imageCarousel" class="glyphicon  left" data-slide="prev">
        <span class="glyphicon  glyphicon-chevron-left"></span>
      </a>
      <a href="#imageCarousel" class="glyphicon  right" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>-->
  </div>

  <!--  jquery sliders -->
  <div class="conatiner jquerySlider">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div id="imageCarousel" class="carousel slide" data-interval="2000">
          <ol class="carousel-indicators">
            <li data-target="#imageCarousel" data-wrap="true" data-slide-to="0" class="active"></li>
            <li data-target="#imageCarousel" data-slide-to="1"></li>
            <li data-target="#imageCarousel" data-slide-to="2"></li>
            <li data-target="#imageCarousel" data-slide-to="3"></li>
            <li data-target="#imageCarousel" data-slide-to="4"></li>
            <li data-target="#imageCarousel" data-slide-to="5"></li>
          </ol>
          <div class="carousel-inner slideinner">
            <div class="item active">
              <div class="row">
                <div class="col-xs-2 col-lg-2 col-sm-2">
                  <img src="../assets/images/Apple.png" class="Sliderwidth" />
                </div>
                <div class="col-xs-2 col-lg-2 col-sm-2">
                  <img src="../assets/images/samsung.png" class="Sliderwidth" />
                </div>
                <div class="col-xs-2 col-lg-2 col-sm-2">
                  <img src="../assets/images/blackberry.png" class="Sliderwidth" />
                </div>
                <div class="col-xs-2 col-lg-2 col-sm-2">
                  <img src="../assets/images/microsoft.png" class="Sliderwidth" />
                </div>
                <div class="col-xs-2 col-lg-2 col-sm-2">
                  <img src="../assets/images/nexus.png" class="Sliderwidth" />
                </div>
                <div class="col-xs-2 col-lg-2 col-sm-2">
                  <img src="../assets/images/googlepixel.png" class="Sliderwidth" />

                </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-xs-2 col-lg-2 col-sm-2">
                  <img src="../assets/images/htc.png" class="Sliderwidth" />
                </div>
                <div class="col-xs-2 col-lg-2 col-sm-2">
                  <img src="../assets/images/LG.png" class="Sliderwidth" />
                </div>
                <div class="col-xs-2 col-lg-2 col-sm-2">
                  <img src="../assets/images/motorola.png" class="Sliderwidth" />
                </div>
                <div class="col-xs-2 col-lg-2 col-sm-2">
                  <img src="../assets/images/nokia.png" class="Sliderwidth" />
                </div>
                <div class="col-xs-2 col-lg-2 col-sm-2">
                  <img src="../assets/images/sony.png" class="Sliderwidth" />
                </div>
                <div class="col-xs-2 col-lg-2 col-sm-2">
                  <img src="../assets/images/huawei.png" class="Sliderwidth" />

                </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-xs-2 col-lg-2 col-sm-2">
                  <img src="../assets/images/oneplus.png" class="Sliderwidth" />
                </div>
                <div class="col-xs-2 col-lg-2 col-sm-2">
                  <img src="../assets/images/oppo.png" class="Sliderwidth" />
                </div>
                <div class="col-xs-2 col-lg-2 col-sm-2">
                  <img src="../assets/images/vivo.png" class="Sliderwidth" />
                </div>
                <div class="col-xs-2 col-lg-2 col-sm-2">
                  <img src="../assets/images/mi.png" class="Sliderwidth" />
                </div>
                <div class="col-xs-2 col-lg-2 col-sm-2">
                  <img src="../assets/images/lenovo.png" class="Sliderwidth" />
                </div>
                <div class="col-xs-2 col-lg-2 col-sm-2">
                  <img src="../assets/images/specials.png" class="Sliderwidth" />

                </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-xs-2 col-lg-2 col-sm-2">
                  <img src="../assets/images/acer.png" class="Sliderwidth" />
                </div>
                <div class="col-xs-2 col-lg-2 col-sm-2">
                  <img src="../assets/images/asus.png" class="Sliderwidth" />
                </div>
                <div class="col-xs-2 col-lg-2 col-sm-2">
                  <img src="../assets/images/coolpad.png" class="Sliderwidth" />
                </div>
                <div class="col-xs-2 col-lg-2 col-sm-2">
                  <img src="../assets/images/gionee.png" class="Sliderwidth" />
                </div>
                <div class="col-xs-2 col-lg-2 col-sm-2">
                  <img src="../assets/images/intex.png" class="Sliderwidth" />
                </div>
                <div class="col-xs-2 col-lg-2 col-sm-2">
                  <img src="../assets/images/iball.png" class="Sliderwidth" />

                </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-xs-2 col-lg-2 col-sm-2">
                  <img src="../assets/images/jio.png" class="Sliderwidth" />
                </div>
                <div class="col-xs-2 col-lg-2 col-sm-2">
                  <img src="../assets/images/karbonn.png" class="Sliderwidth" />
                </div>
                <div class="col-xs-2 col-lg-2 col-sm-2">
                  <img src="../assets/images/lava.png" class="Sliderwidth" />
                </div>
                <div class="col-xs-2 col-lg-2 col-sm-2">
                  <img src="../assets/images/leeco.png" class="Sliderwidth" />
                </div>
                <div class="col-xs-2 col-lg-2 col-sm-2">
                  <img src="../assets/images/lyf.png" class="Sliderwidth" />
                </div>
                <div class="col-xs-2 col-lg-2 col-sm-2">
                  <img src="../assets/images/micromax.png" class="Sliderwidth" />

                </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-xs-2 col-lg-2 col-sm-2">
                  <img src="../assets/images/infocus.png" class="Sliderwidth" />
                </div>
                <div class="col-xs-2 col-lg-2 col-sm-2">
                  <img src="../assets/images/panasonic.png" class="Sliderwidth" />
                </div>
                <div class="col-xs-2 col-lg-2 col-sm-2">
                  <img src="../assets/images/xolo.png" class="Sliderwidth" />
                </div>
                <div class="col-xs-2 col-lg-2 col-sm-2">
                  <img src="../assets/images/zen.png" class="Sliderwidth" />
                </div>
                <div class="col-xs-2 col-lg-2 col-sm-2">
                  <img src="../assets/images/zen.png" class="Sliderwidth" />
                </div>
                <div class="col-xs-2 col-lg-2 col-sm-2">
                  <img src="../assets/images/micromax.png" class="Sliderwidth" />

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<script>
       $(document).ready(function () {
           // Activate Carousel
           $("#myCarousel").carousel();

           // Enable Carousel Indicators
           $(".item1").click(function () {
               $("#myCarousel").carousel(0);
           });
           $(".item2").click(function () {
               $("#myCarousel").carousel(1);
           });
           $(".item3").click(function () {
               $("#myCarousel").carousel(2);
           });
           $(".item4").click(function () {
               $("#myCarousel").carousel(3);
           });

           // Enable Carousel Controls
           $(".left").click(function () {
               $("#myCarousel").carousel("prev");
           });
           $(".right").click(function () {
               $("#myCarousel").carousel("next");
           });
       });
</script>

<script type="text/javascript">
          $(document).ready(function () {
              $('#imageCarousel').carousel();
          });
</script>
