<!--{{allUsersData}}-->
 <div class="panel-body" style="height:350px;overflow-y:scroll">
<table  class="table table-bordered bordered table-striped table-condensed datatable" ui-jq="dataTable" ui-options="dataTableOpt"style="width:100%;height:500px">
  <tr>
    <th>SNO</th>
    <th>FullName</th>
    <th>LoginID</th>
    <th>UserStatus</th>
    <th>ContactNumber</th>
  </tr>
  <tr ng-repeat="usersData in allUsersData">
    <td>{{usersData.customeradminid}}</td>
    <td>{{usersData.fullname}}</td>
    <td>{{usersData.LoginId}}</td>
    <td>{{usersData.UserStatus}}</td>
    <td>{{usersData.ContactNumber}}</td>
  </tr>
 
</table>
</div>
