<div class="container-fluid">


    <div class="row viewcontent">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h2 class="Blogheadingh2"> RECENT BLOG POSTS </h2>
            <hr class="Bloghr" />
            <h6 class="Blogheadingh6">Loreum ipsum dolor sit amet, consetetur sadipcing aliz amet </h6>
        </div>
    </div>

    <div class="rows">
        <div class="col-sm-6 col-md-6 col-xs-12">
            <img src="../assets/images/Blogimg2.jpeg" alt="Responsive" class="BlogsImage">
        </div>

        <div class="col-sm-6 col-md-6 col-xs-12 Blogcol">
            <div class="rows">
                <div class="col-sm-2 col-md-2 col-xs-2">
                    <p class="BlogDate">18<br /> OCT</p>
                </div>
                <div class="col-sm-10 col-md-10 col-xs-10 Blogcol2">
                    <h3 class="Blogh3"> STARTUP IDEAS NEEDS TO BE FUNDED</h3>
                    <h6 class="Blogh5"> By Khalil Uddin in Development </h6>
                </div>
            </div>
            <p class="Blogcontent"> Loreum ipsum dolor sit amet, consetetur sadipcing aliz amet. Mobile service was a pre-cellular radio system linked to the public switched telephone network, was the rad Mobile service was a pre-cellular radio system linked to the public switched
                telephone network, was the rad. Mobile service was a pre-cellular radio system linked to the public switched telephone network, was the rad Mobile service was a pre-cellular radio system linked to the public switched telephone network,
                was the rad</p>
            <a href="#" class="BlogRM">READ MORE</a>
        </div>
    </div>
    <hr class="Bloghr1" />

    <div class="rows">
        <div class="col-sm-6 col-md-6 col-xs-12">
            <img src="../assets/images/Blogimg.jpeg" alt="Responsive" class="BlogsImages">
        </div>

        <div class="col-sm-6 col-md-6 col-xs-12 Blogscol">
            <div class="rows">
                <div class="col-sm-2 col-md-2 col-xs-2">
                    <p class="BlogDate">18<br /> OCT</p>
                </div>
                <div class="col-sm-10 col-md-10 col-xs-10 Blogcol2">
                    <h3 class="Blogsh3"> STARTUP IDEAS NEEDS TO BE FUNDED</h3>
                    <h6 class="Blogh5"> By Khalil Uddin in Development </h6>
                </div>
            </div>
            <p class="Blogcontent"> Loreum ipsum dolor sit amet, consetetur sadipcing aliz amet. Mobile service was a pre-cellular radio system linked to the public switched telephone network, was the rad Mobile service was a pre-cellular radio system linked to the public switched
                telephone network, was the rad. Mobile service was a pre-cellular radio system linked to the public switched telephone network, was the rad Mobile service was a pre-cellular radio system linked to the public switched telephone network,
                was the rad</p>
            <a href="#" class="BlogsRM">READ MORE</a>
        </div>
    </div>

</div>