<div class="container-fluid">

  <div class="BookOnlineBtm">
    <div class="row BookOnlineBG">
      <div class="col-md-12 col-sm-12 col-xs-12 ">
        <h3 class="BookOnlineheadingh4">BOOKING ONLINE IS EASY NOW</h3>
        <h6 class="BookOnlinecontent">Start by choosing your phone's manufacturer from the list below: </h6>
      </div>
    </div>
    <div class="BKOicons">
      <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-6 ">
          <a href="/" ui-sref="productdetailsform" ui-sref-active="active1" id="myPdfBtn" class="BKOoptions">
            <img src="../assets/images/Apple.png" class="Bkoimg" />
            <h4 class="BKOoption"> Apple</h4>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <a href="/" ui-sref="productdetailsform" ui-sref-active="active1" class="BKOoptions">
            <img src="../assets/images/samsung.png" class="Bkoimg">
            <h4 class="BKOoption">Samsung</h4>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <a href="/" ui-sref="productdetailsform" ui-sref-active="active1" class="BKOoptions">
            <img src="../assets/images/blackberry.png" class="Bkoimg">
            <h4 class="BKOoption">Blackberry</h4>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 ">
          <a href="/" ui-sref="productdetailsform" ui-sref-active="active1" class="BKOoptions">
            <img src="../assets/images/microsoft.png" class="Bkoimg">
            <h4 class="BKOoption">Microsoft</h4>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <a href="/" ui-sref="productdetailsform" ui-sref-active="active1" class="BKOoptions">
            <img src="../assets/images/nexus.png" class="Bkoimg">
            <h4 class="BKOoption">Nexus</h4>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <a href="/" ui-sref="productdetailsform" ui-sref-active="active1" class="BKOoptions">
            <img src="../assets/images/googlepixel.png" class="Bkoimg">
            <h4 class="BKOoption">Googlepixel</h4>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-6 ">
          <a href="/" ui-sref="productdetailsform" ui-sref-active="active1" class="BKOoptions">
            <img src="../assets/images/htc.png" class="Bkoimg">
            <h4 class="BKOoption">Htc</h4>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <a href="/" ui-sref="productdetailsform" ui-sref-active="active1" class="BKOoptions">
            <img src="../assets/images/LG.png" class="Bkoimg">
            <h4 class="BKOoption">
              LG
            </h4>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <a href="/" ui-sref="productdetailsform" ui-sref-active="active1" class="BKOoptions">
            <img src="../assets/images/motorola.png" class="Bkoimg">
            <h4 class="BKOoption">Motorola</h4>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <a href="/" ui-sref="productdetailsform" ui-sref-active="active1" class="BKOoptions">
            <img src="../assets/images/nokia.png" class="Bkoimg">
            <h4 class="BKOoption">Nokia</h4>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <a href="/" ui-sref="productdetailsform" ui-sref-active="active1" class="BKOoptions">
            <img src="../assets/images/sony.png" class="Bkoimg">
            <h4 class="BKOoption">Sony</h4>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <a href="/" ui-sref="productdetailsform" ui-sref-active="active1" class="BKOoptions">
            <img src="../assets/images/huawei.png" class="Bkoimg">
            <h4 class="BKOoption">Huawei</h4>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-6">
          <a href="/" ui-sref="productdetailsform" ui-sref-active="active1" class="BKOoptions">
            <img src="../assets/images/oneplus.png" class="Bkoimg">
            <h4 class="BKOoption">Oneplus</h4>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <a href="/" ui-sref="productdetailsform" ui-sref-active="active1" class="BKOoptions">
            <img src="../assets/images/oppo.png" class="Bkoimg">
            <h4 class="BKOoption">Oppo</h4>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <a href="/" ui-sref="productdetailsform" ui-sref-active="active1" class="BKOoptions">
            <img src="../assets/images/vivo.png" class="Bkoimg">
            <h4 class="BKOoption">Vivo</h4>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <a href="/" ui-sref="productdetailsform" ui-sref-active="active1" class="BKOoptions">
            <img src="../assets/images/mi.png" class="Bkoimg">
            <h4 class="BKOoption">MI</h4>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <a href="/" ui-sref="productdetailsform" ui-sref-active="active1" class="BKOoptions">
            <img src="../assets/images/lenovo.png" class="Bkoimg">
            <h4 class="BKOoption">Lenovo</h4>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <a href="/" ui-sref="productdetailsform" ui-sref-active="active1" class="BKOoptions">
            <img src="../assets/images/specials.png" class="Bkoimg">
            <h4 class="BKOoption">Specials</h4>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-6">
          <a href="/" ui-sref="productdetailsform" ui-sref-active="active1" class="BKOoptions">
            <img src="../assets/images/acer.png" class="Bkoimg">
            <h4 class="BKOoption">Acer</h4>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <a href="/" ui-sref="productdetailsform" ui-sref-active="active1" class="BKOoptions">
            <img src="../assets/images/asus.png" class="Bkoimg">
            <h4 class="BKOoption">Asus</h4>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <a href="/" ui-sref="productdetailsform" ui-sref-active="active1" class="BKOoptions">
            <img src="../assets/images/coolpad.png" class="Bkoimg">
            <h4 class="BKOoption">Cool Pad</h4>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <a href="/" ui-sref="productdetailsform" ui-sref-active="active1" class="BKOoptions">
            <img src="../assets/images/gionee.png" class="Bkoimg">
            <h4 class="BKOoption">Gionee</h4>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <a href="productDetailsForm.html" class="BKOoptions">
            <img src="../assets/images/iball.png" class="Bkoimg">
            <h4 class="BKOoption">IBall</h4>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <a href="productDetailsForm.html" class="BKOoptions">
            <img src="../assets/images/intex.png" class="Bkoimg">
            <h4 class="BKOoption">Intex</h4>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-6">
          <a href="/" ui-sref="productdetailsform" ui-sref-active="active1" class="BKOoptions">
            <img src="../assets/images/jio.png" class="Bkoimg">
            <h4 class="BKOoption">Jio</h4>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <a href="/" ui-sref="productdetailsform" ui-sref-active="active1" class="BKOoptions">
            <img src="../assets/images/karbonn.png" class="Bkoimg">
            <h4 class="BKOoption">Karboon</h4>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <a href="/" ui-sref="productdetailsform" ui-sref-active="active1" class="BKOoptions">
            <img src="../assets/images/lava.png" class="Bkoimg">
            <h4 class="BKOoption">Lava</h4>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <a href="/" ui-sref="productdetailsform" ui-sref-active="active1" class="BKOoptions">
            <img src="../assets/images/leeco.png" class="Bkoimg">
            <h4 class="BKOoption">Leeco</h4>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <a href="/" ui-sref="productdetailsform" ui-sref-active="active1" class="BKOoptions">
            <img src="../assets/images/lyf.png" class="Bkoimg">
            <h4 class="BKOoption">Lyf</h4>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <a href="/" ui-sref="productdetailsform" ui-sref-active="active1" class="BKOoptions">
            <img src="../assets/images/micromax.png" class="Bkoimg">
            <h4 class="BKOoption">Micromax</h4>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-6">
          <a href="/" ui-sref="productdetailsform" ui-sref-active="active1" class="BKOoptions">
            <img src="../assets/images/infocus.png" class="Bkoimg">
            <h4 class="BKOoption">Infocus</h4>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <a href="/" ui-sref="productdetailsform" ui-sref-active="active1" class="BKOoptions">
            <img src="../assets/images/panasonic.png" class="Bkoimg">
            <h4 class="BKOoption">Panasonic</h4>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <a href="/" ui-sref="productdetailsform" ui-sref-active="active1" class="BKOoptions">
            <img src="../assets/images/xolo.png" class="Bkoimg">
            <h4 class="BKOoption">Xolo</h4>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <a href="/" ui-sref="productdetailsform" ui-sref-active="active1" class="BKOoptions">
            <img src="../assets/images/zen.png" class="Bkoimg">
            <h4 class="BKOoption">Zen</h4>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <a href="/" ui-sref="productdetailsform" ui-sref-active="active1" class="BKOoptions">
            <img src="../assets/images/zte.png" class="Bkoimg">
            <h4 class="BKOoption">Zte</h4>
          </a>
        </div>
      </div>
      <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12  bookonline">
          <a href="/" ui-sref="mobileRepair" class="BKOoptions BKNext">NEXT</a>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- PDF Model -->
<script>
  $(document).ready(function () {
    $("#myPdfBtn").click(function () {
      $("#PDF").modal();
    });
  });
</script>
<!-- ProductDetails  Modal -->
<div class="modal fade" id="PDF" role="dialog">
  <div class="modal-dialog2">
    <!-- Modal content-->
    <div class="modal-content2">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body2">
        <div class="container PDFBtm2">
          <div class="row PDFcontent">
            <div class="col-md-12  col-xs-12">
              <h4 class="PDFheadingh4">PRODUCT DETAILS FORM</h4>
            </div>
          </div>
          <form class="" action="">
            <div class="row">
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="form-group">
                  <label class="control-label PDFlabel" for="name">Name *</label>
                  <div class="">
                    <input type="text" class="form-control" id="name" placeholder="Enter Your Name" name="name">
                  </div>
                </div>
              </div>
              <div class="col-sm-5 col-md-4 col-lg-4">
                <div class="form-group">
                  <label class="control-label PDFlabel" for="email">Email *</label>
                  <div class="">
                    <input type="email" class="form-control" id="email1" placeholder="Enter email" name="email">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="form-group">
                  <label class="control-label PDFlabel" for="deviceType">Device Type *</label>
                  <div class="">
                    <input type="text" class="form-control" id="deviceType" placeholder="Enter Device Type" name="deviceType">
                  </div>
                </div>
              </div>

              <div class="col-sm-5 col-md-4 col-lg-4">
                <div class="form-group">
                  <label class="control-label PDFlabel" for="address">Address *</label>
                  <div class="">
                    <input type="text" class="form-control" id="address" placeholder="Enter address" name="address">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="form-group">
                  <label class="control-label PDFlabel" for="issue">Type Of Issue *</label>
                  <div class="">
                    <select class="form-control" name="issue">
                      <option value="No Incomming">No Incomming</option>
                      <option value="saab">Saab</option>
                      <option value="fiat">Fiat</option>
                      <option value="audi">Audi</option>
                    </select>
                    <!-- <input type="submit" class="form-control" id="issue" placeholder="Select Type Of issue" name="issue"> -->
                  </div>
                </div>
              </div>
              <div class="col-sm-5 col-md-4 col-lg-4">
                <div class="form-group">
                  <label class="control-label PDFlabel" for="brand">Device Brand *</label>
                  <div class="">
                    <input type="text" class="form-control" id="brand" placeholder="Enter Device Brand" name="brand">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="form-group">
                  <label class="control-label PDFlabel" for="deviceModel">Device Model *</label>
                  <div class="">
                    <input type="text" class="form-control" id="deviceModel" placeholder="Enter Device Model" name="deviceModel">
                  </div>
                </div>
              </div>

              <div class="col-sm-5 col-md-4 col-lg-4">
                <div class="form-group">
                  <label class="control-label PDFlabel" for="iemi">IEMI No *</label>
                  <div class="">
                    <input type="text" class="form-control" id="iemi" placeholder="Enter IEMI No" name="iemi">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="form-group">
                  <label class="control-label PDFlabel" for="Phone">Secondary Phone No *</label>
                  <div class="">
                    <input type="text" class="form-control" id="Text1" placeholder="Enter Mobile No" name="Phone">
                  </div>
                </div>
              </div>

              <div class="col-sm-5 col-md-4 col-lg-4">
                <div class="form-group">
                  <label class="control-label PDFlabel" for="date">Pick-Up Date *</label>
                  <div class="">
                    <input type="date" class="form-control" id="date" placeholder="Select Date" name="date">
                  </div>
                </div>
              </div>
            </div>

            <div class="">
              <h4 class="PDFh4">Pick Up Time</h4>
              <div class="row">
                <div class="form-inline">
                  <div class="form-group col-sm-4 col-md-3 col-lg-3">
                    <label class="control-label PDFlabel" for="hours">Hours *</label>
                    <div>
                      <input type="number" class="form-control" id="hours">
                    </div>
                  </div>
                  <div class="form-group col-sm-4 col-md-3 col-lg-3">
                    <label class="control-label PDFlabel" for="pwd">Minitues *</label>
                    <div>
                      <input type="number" class="form-control" id="minitues">
                    </div>
                  </div>
                  <div class="form-group col-sm-4 col-md-3 col-lg-3">
                    <label class="control-label PDFlabel" for="pwd">Seconds *</label>
                    <div>
                      <input type="number" class="form-control" id="seconds">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <button type="submit" class="btn btnsuccess">Submit</button>
            </div>
          </form>


        </div>
      </div>
    </div>
  </div>
</div>
