<div class="container-fluid">
  <div class="ContactusBtm">
    <div class="row faq">
      <div class="col-sm-12 col-xs-12">
        <div class="headingh4">
          <h4>CONTACT US</h4>
          <hr class="HIWhr" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 MobFixcontentbg">

        <div class="contact-bg">

          <div class="col-md-12 cont-head">
            <h2>QUESTION, COMMENTS?</h2>
            <p class="color">Let us know !</p>
          </div>

          <div class="col-md-8 col-sm-7 col-xs-12 form-style">
            <form class="form-horizontal" name="myForm">
              <div class="form-group">
                <div class="col-sm-6 makeconright">
                  <input type="text" name="firstName" id="firstName" ng-model="vm.UserType" class="form-control" placeholder="First name" required />
                  <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>

                </div>
                <div class="col-sm-6 makeconleft">
                  <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" ng-model="vm.userData.LastName" title="enter your last name if any." required />

                  <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-6 makeconright">
                  <input type="number" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any."
                         ng-model="vm.ContactNumber" ng-pattern="/^[7-9][0-9]{9}$/" required />

                  <span ng-messages="myForm.phone.$error.pattern">Please enter valid number!</span>
                </div>
                <div class="col-sm-6 makeconleft">
                  <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email." ng-model="vm.userData.LoginId" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/;" required>
                  <div ng-messages="myForm.email.$error">
                    <div ng-message="required">This field is required</div>
                    <div ng-message="email">Your email address is invalid</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <textarea id="feedback" name="feedback" class="form-control textarea" placeholder="Enter your feedback..." rows="5" ng-model="vm.message" required></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12 formbtn">
                  <button type="submit" name="SaveChanges" id="SaveChanges" value="Submit" class="btn subscribebutton">Send to us</button>
                </div>
              </div>
            </form>
          </div>

          <div class="col-md-4 col-sm-5 col-xs-12 reach">
            <div class="reach">
              <h3 class="reachh3">REACH US</h3>
              <div class="contact-txt">
                <ul class="conlink">
                  <li>
                    <span class="iconaddress"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                    <div class="textadress">
                      <p>MobFix <br> 118, 1st floor, <br>Chandralok Residency, Paradise, Secunderabad, Telangana 500003, India</p>
                    </div>
                  </li>
                  <li>
                    <span class="iconaddress"><i class="fa fa-phone" aria-hidden="true"></i></span>
                    <div class="textadress">
                      <p><a class="color1" href="tel:+91 8448282445">+91 79950 63244</a></p>
                    </div>
                  </li>
                  <li>
                    <span class="iconaddress"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    <div class="textadress">
                      <p><a class="color1" href="mailto:info@mobfix.co.in">info@mobfix.co.in</a></p>
                    </div>
                  </li>
                </ul>

              </div>
              <ul class="footer-social-icons2 footer-social-icons3">
                <li>
                  <a href="http://www.facebook.com/MobFixIndia" target="_blank">
                    <img src="../assets/images/facebook_black.png" alt="" class="footerfb" />
                  </a>
                </li>
                <!--<li>
                  <a href="mailto:MobFix@gmail.co.in">
                    <img src="../assets/images/googleplus_black.png" alt="" class="footergplus2" />
                  </a>
                </li>-->
                <li>
                  <a href="https://twitter.com/MobFixIndia" target="_blank">
                    <img src="../assets/images/twitter_black.png" alt="" class="footertwitter2" />
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/MobFixIndia/" target="_blank">
                    <img src="../assets/images/instragram_black.png" alt="" class="footerwivfi" />
                  </a>
                </li>
                <!--<li>
                  <a href="#">
                    <img src="../assets/images/linkedin_black.png" alt="" class="footerwivfi" />
                  </a>
                </li>-->
                <li>
                  <a href="https://in.pinterest.com/0n4n5gzxqbh9ukvgvd33fzkdg5k09z/pins/" target="_blank">
                    <img src="../assets/images/pintrest_black.png" alt="" class="footerwivfi" />
                  </a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="row faqhello">
      <div class="col-sm-12 col-xs-12">
        <div class="headingh4">
          <h4>Have a specific query</h4>
          <h5 class="contentp">Visit our FAQs section to find answer for your query</h5>
          <a class="btn viewrepairbutton" href="/" ui-sref="faq" ui-sref-active="active1">
            FAQ
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
