<div class="navigation">
  <div role="navigation">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid background">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand p-t-10 p-l-0"><img src="../assets/images/MobFix_Logo.jpg" class="logo hidden-xs "></a>
            <a class="navbar-brand p-xs-t-0"><img src="../assets/images/MobFix_Logo.jpg" class="logo visible-xs"></a>
          </div>
          <div class="cartdiv visible-xs"><a href="" class="cartamount"><img src="../assets/images/cart.png" class="cart visible-xs"> (0)</a></div>

          <p class="helpline visible-xs">Help Line</p>
          <p class="phoneno visible-xs">+917995063244</p>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="navbar2">
              <li class="navmailid hidden-sm hidden-xs"><img src="../assets/images/email.png" /><span class="navemail">info@mobfix.co.in</span></li>
              <li class="navphone hidden-xs"><img src="../assets/images/phone.png" /><span class="navemail"> +91 79950 63244</span></li>
              <ul ng-if="!dashboard.showProfile" class="nav navbar-nav navbar-right">
                <li class="vendorlog m-r-25" ng-click="dashboard.openvendorLoginModal()"><a id="myBtn"><button type="button" class="HeaderLogin">Vendor LogIn</button> </a></li>
                <li class="" ng-click="dashboard.openloginModal()"><a id="myBtn"><button type="button" class="HeaderLogin">LogIn</button></a></li>
              </ul>
              <ul ng-if="dashboard.showProfile" class="nav navbar-nav  headerdropdown ">
                <li class="dropdown">
                  </span><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user">{{userData[0].FirstName}}&nbsp;{{userData[0].LastName}}<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#/userProfile">Profile</a></li>
                    <li><a href="#/myOrders">Orders</a></li>
                    <li><a ng-click="dashboard.signOff()">Sign Out</a></li>
                  </ul>
                </li>
              </ul>
            </ul>
            <hr class="hr1 hidden-xs" />
            <br class="visible-xs" />
            <ul class="nav navbar-nav navbar-right HomeHeader visible-xs">
              <li class="headerli"><a ui-sref="home" ui-sref-active="active">HOME</a></li>
              <li class="dropdown headerli1">
                <a ui-sref="about" ui-sref-active="active">ABOUT US </a>
              </li>
              <li class="dropdown headerli1">
                <a ui-sref="mobileRepair" ui-sref-active="active">BOOK YOUR REPAIR</a>
              </li>
              <li class="dropdown headerli1">
                <a ui-sref="blog" ui-sref-active="active">BLOG </a>
              </li>
              <li class="headerli1"><a ui-sref="contactUs" ui-sref-active="active">CONTACT US</a></li>
            </ul>
          </div>

          <div class="collapse navbar-collapse p-sm-t-15" id="myNavbar">
            <ul class="nav navbar-nav navbar-right HomeHeader ">
              <li><a ui-sref="home" ui-sref-active="active">HOME</a></li>
              <li class="dropdown">
                <a ui-sref="about" ui-sref-active="active">ABOUT US </a>
              </li>
              <li class="dropdown">
                <a ui-sref="mobileRepair" ui-sref-active="active">BOOK YOUR REPAIR</a>
              </li>
              <li class="dropdown">
                <a ui-sref="blog" ui-sref-active="active">BLOG </a>
              </li>
              <li><a ui-sref="contactUs" ui-sref-active="active">CONTACT US</a></li>
              <li><div class="cartdiv hidden-xs"><a href="" class="cartamount"><img src="../assets/images/cart.png" class="cart hidden-xs">  (0)</a></div></li>
            </ul>

          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
<div class="container m-t-50 p-t-35 ">
  <div ui-view=""></div>
</div>
<div class="footer">
  <!-- footer -->
  <div class="container">
    <div class="footer-bottom">
      <div class="row">
        <div class=" col-sm-3 col-md-3 col-xs-12 footermobfixconent">
          <h5 class="okfooterh">Subscribe to stay updated with latest news and offers from MobiFix</h5>

          <div class="subcribe">

            <form class="form-horizontal" id="subscribe_form" method="post" novalidate="novalidate">
              <div class="input-group">
                <input type="text" name="subs_email" id="subs_email" class="form-control required email textbox" placeholder="Enter Email">
                <span class="input-group-btn">
                  <button type="submit" name="SaveSubscribe" id="SaveSubscribe" value="Submit" class="btn subscribebutton">subscribe</button>
                </span>
              </div>
            </form>

          </div>
          <h5 class="okfooter">Phone :<span class="footerboldh5"> +91 79950 63244</span></h5>
          <h5 class="okfooter">Email : <a href="#" class="footerboldh5">info@mobifix.co.in </a></h5>
        </div>
        <div class="col-sm-3 col-md-3 col-xs-6 footermobfixcompany">
          <h3 class="companyh3">Company</h3>
          <ul class="footerul">
            <li>
              <a class="" href="/" ui-sref="about" ui-sref-active="active1"> > About Us</a>
            </li>
            <li>
              <a class="" href="/" ui-sref="faq" ui-sref-active="active1"> > FAQ's</a>
            </li>
            <li>
              <a class="" href="/" ui-sref="contactUs" ui-sref-active="active1"> > Contact Us</a>
            </li>
            <li>
              <a class="" href="/" ui-sref="terms" ui-sref-active="active1">> Terms & Services</a>
            </li>
            <li>
              <a class="" href="/" ui-sref="privacyPolicy" ui-sref-active="active1"> > Privacy Policy</a>
            </li>
            <li>
              <a class="" href="#"> > Testimonials</a>
            </li>
          </ul>
        </div>
        <div class=" col-sm-3 col-md-3 col-xs-6 footermobfixcommunity">
          <h3 class="companyh3">Community</h3>
          <ul class="footerul footerul1">
            <li>
              <a href="/" ui-sref="blog" ui-sref-active="active1"> > Blog</a>
            </li>
            <li>
              <a href="/" ui-sref="repair" ui-sref-active="active1"> > Repair</a>
            </li>
            <li>
              <a href="/" ui-sref="bookOnline" ui-sref-active="active1"> > Book Online</a>
            </li>
            <li>
              <a href="#"> > Forum</a>
            </li>
            <li>
              <a href="#"> > Support</a>
            </li>
            <li>
              <a href="#"> > Newsletter</a>
            </li>
          </ul>
        </div>
        <div class=" col-sm-3 col-md-3 col-xs-12 footerBlogrow">
          <h3 class="footerbold"><span class="footerh3">from the </span>BLOG</h3>
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3">
              <img src="../assets/images/Blog.jpg" alt="Responsive" class="BlogImage">
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9">
              <h5 class="Blogsp"> Login using this by performing actions</h5>
              <h5 class="Blogsh5">29 Aug, 2018</h5>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
              <img src="../assets/images/Blog.jpg" alt="Responsive" class="BlogImage">
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9">
              <h5 class="Blogsp"> Login using this by performing actions</h5>
              <h5 class="Blogsh5">29 Aug, 2018</h5>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-grey">
    <div class="container text-left">
      <div class="row">
        <div class="col-sm-8 col-md-8 col-xs-12 copyright">
          <p>
            © 2018 All Rights Reserved by
            <a href="#" target="=_blank">mobifix.co.in </a>
          </p>
        </div>
        <div class=" col-xs-offset-2 col-xs-7 col-sm-4 col-md-4 ">
          <ul class="footer-social-icons">
            <li>
              <a href="#">
                <img src="../assets/images/facebook_gold.png" alt="" class="footerfb" />
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../assets/images/googleplus_black.png" alt="" class="footergplus" />
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../assets/images/twitter_gold.png" alt="" class="footertwitter" />
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../assets/images/instragram_black.png" alt="" class="footerwivfi" />
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../assets/images/rssfeed_gold.png" alt="" class="footerwivfi" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="scrollToTop"></a>
</div>
<script type="text/javascript">function add_chatinline(){var hccid=43280012;var nt=document.createElement("script");nt.async=true;nt.src="https://mylivechat.com/chatinline.aspx?hccid="+hccid;var ct=document.getElementsByTagName("script")[0];ct.parentNode.insertBefore(nt,ct);}
add_chatinline(); </script>
