<div class="container-fluid">
  <div class="row faq">
    <div class="col-sm-12 col-xs-12">
      <div class="headingh4">
        <h4>FAQ</h4>
        <hr class="HIWhr" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-xs-12 table">
      <h4 class=" thead">General Questions</h4>
      <p class="accordion">  What is Mobfix.co.in??</p>
      <div class="panel">
        <p class="whyMobfixp">
          Mobfix is India’s largest and most trusted smartphone & tablet service network. We fix smartphones/tablets of all brands & make with the added convenience of free pickup and delivery.
        </p>
      </div>

      <button class="accordion">How does Mobfix work?</button>
      <div class="panel">
        <p class="whyMobfixp">Place a service request through the Repairs section or call us at 040-40260519. We visit you, pick your mobile device, diagnose it, fix it and deliver it – making the process completely hassle free for you.</p>
      </div>

      <button class="accordion">What are the cities Mobfix.co.in operates in?</button>
      <div class="panel">
        <p class="whyMobfixp">
          You could be in any part of India to avail our services. We have offices in Hyderabad. In these cities we provide a free home pick up and drop service. For all other cities we have free courier service.
        </p>
      </div>

      <button class="accordion">How do I place a service request at Mobfix.co.in?</button>
      <div class="panel">
        <p class="whyMobfixp">
          You can create a service request through the following:
        </p>
        <ul class="accordionul">
          <li class="accordionli">
            You can place a service request by visiting www.mobfix.co.in
          </li>
          <li class="accordionli">
            Call us at 040-40260519
          </li>
          <li class="accordionli">
            Send request email to&nbsp;<a href="mailto:bookings@mobfix.co.in">bookings@mobfix.co.in</a>
          </li>
        </ul>
      </div>

      <button class="accordion">Is Mobfix.co.in authorized service center?</button>
      <div class="panel">
        <p class="whyMobfixp">
          Mobfix.co.in is an independent operation where smartphones are repaired by experienced professionals and is not a company authorized service center.
        </p>
      </div>

      <button class="accordion">What about the data on my phone?</button>
      <div class="panel">
        <p class="whyMobfixp">
          While we take utmost care in ensuring there is no data loss, repair of mobile/tablet might entail formatting of device and the company will not be responsible for the loss of saved data/contact information. Please take appropriate data backup before submitting your device.
        </p>
      </div>

      <button class="accordion">What if my phone is not switching on?</button>
      <div class="panel">
        <p class="whyMobfixp">
          Mobiles/Tablet handed over in switched off state would be treated as dead mobile and the actual cost of repair would be confirmed post diagnosis. Rs.299/- would be charged for diagnosis and this amount is non-refundable.
        </p>
      </div>

    </div>

    <div class="col-sm-6 col-xs-12 table1">
      <h4 class=" thead">Repair Related Questions</h4>
      <button class="accordion ">How long does it take for mobile to be repaired & delivered?</button>
      <div class="panel">
        <p class="whyMobfixp">
          Mobfix.co.in gives two days repair service for touch & LCD replacement for selected devices. For the actual duration of repair for your device please talk to our representative.
        </p>
      </div>

      <button class="accordion">Is there a warranty on the repair service undertaken by Mobfix.co.in ?</button>
      <div class="panel">
        <ul class="accordionul">
          <ol class="accordionol">
            <li class="accordionli">
              Repairs of liquid damage or water damage phones do not carry any warranty.
            </li>
            <li class="accordionli">
              Warranty for all repairs other than Touch & LCD is 30 days from the time device has been delivered.
            </li>
            <li class="accordionli">
              For Touch/LCD repairs, Mobfix.co.in provides a service warranty of 90 days from the time mobile has been delivered.
            </li>
            <li class="accordionli">
              The warranty only covers the issues/components which were fixed by Mobfix.co.in. Any other issues with other components not serviced by Mobfix.co.in will not be covered under warranty.
            </li>
            <li class="accordionli">
              Warranty doesn’t cover any breakage/damage caused by external environment after a mobile has been delivered.
            </li>
          </ol>
        </ul>
      </div>

      <button class="accordion">How safe is my mobile/tablet with Mobfix.co.in?</button>
      <div class="panel">
        <p class="whyMobfixp">
          Mobfix.co.in guarantees the safety of your electronic devices by providing security insurance and undertaking blanket responsibility against any possible theft/loss caused while the mobile device is in its possession. However please note physical damage to screen often results damage to other components (sensor, motherboard, etc.) and Mobfix.co.in won’t be held responsible for issues which are discovered during the process of repair. Repair/diagnosis of device might result in minor wear & tear, hence the device might not be returned in as-is state. Incase of device being lost / misplaced by Mobfix.co.in, a fully functional device of same / similar configuration will be given to customer as replacement.
        </p>
      </div>

      <button class="accordion">What are the products issues covered in the service?</button>
      <div class="panel">
        <p class="whyMobfixp">Mobfix.co.in service covers entire gamut of issues faced by mobiles – from mobile going dead to having the touchscreen replaced. Check for the list of mobile brands, models and issues covered.</p>
      </div>

      <button class="accordion">Is the Mobfix.co.in fee waived if my phone is in warranty provided by manufacturer?</button>
      <div class="panel">
        <p>
          Mobfix.co.in would charge the same amount irrespective of your phone being in original warranty period or not.
        </p>
      </div>

      <button class="accordion">Are the digitizers, displays and other components replaced on smartphones original and supplied by phone manufacturers?</button>
      <div class="panel">
        <p class="whyMobfixp">
          Not all components replaced on your smartphones are procured from manufacturers (Samsung, Apple, Sony, etc.). We ensure speedy delivery and economical costs by procuring from suppliers that in some cases are not original equipment manufacturers. However, all parts are quality tested and are of high grade, due to which we are able to offer industry unmatched warranty of upto 90 days for our repairs.
        </p>
      </div>
      <button class="accordion">Does the original manufacturer warranty void post repair with Mobfix.co.in?</button>
      <div class="panel">
        <p class="whyMobfixp">Mobfix.co.in is an independent smartphone service network. If your phone is within the manufactures warranty period, it will void post repair with Mobfix.co.in</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12 table">
      <h4 class=" thead">Pick up &Delivery Questions</h4>
      <p class="accordion">What happens to my phone once it is picked up?</p>
      <div class="panel">
        <p class="whyMobfixp">
          You receive a SMS & email confirmation once your mobile has been picked. Your phone is then dispatched to our workshop where it is diagnosed and repaired.
        </p>
      </div>
    </div>

    <div class="col-sm-6 col-xs-12 table1">
      <h4 class=" thead">
        Pricing & Payment Questions
      </h4>
      <button class="accordion ">How much does Mobfix.co.in charge for its repair service?</button>
      <div class="panel">
        <p class="whyMobfixp">
          Mobfix.co.in charges Rs. 299/- for diagnosis. This is collected at the time of phone pickup. The price you see on the website is inclusive of this service charge and this gets adjusted in the final invoice. In case of any additional charges, you would be intimated before mobile service begins.
        </p>
      </div>
      <button class="accordion ">Is there a service charge on Mobfix warranty repair??</button>
      <div class="panel">
        <p class="whyMobfixp">
          There is no service charge on concerns/complaints regarding repairs that are raised within 3 days of delivery of device.<br />
          However, charge if the complaint is raised after 3 days post-delivery, we charge a nominal service charge of Rs.299 as service/labor fee.

        </p>
      </div>
    </div>
  </div>

  <div class="row faqhello">
    <div class="col-sm-12 col-xs-12">
      <div class="headingh4">
        <h4>Didn't Find Answer?</h4>
        <h5 class="contentp">Say hello on chat and let us know what’s on your mind.</h5>
        <a class="btn viewrepairbutton" href="http://mobfix.co.in/#/contactUs">
          Say Hello
        </a>
      </div>
    </div>
  </div>
</div>
<script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function () {
            this.classList.toggle("active2");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
              panel.style.maxHeight = null;
            } else {
              panel.style.maxHeight = panel.scrollHeight + "px";
            }
          });
        }
</script>
