<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 ccl-xs-12 ">
      <div id="banner-carousel" class="carousel slide m-t-15" data-ride="carousel" data-interval="2000">
        <ol class="carousel-indicators">
          <li data-target="#banner-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#banner-carousel" data-slide-to="1"></li>
          <li data-target="#banner-carousel" data-slide-to="2"></li>
          <li data-target="#banner-carousel" data-slide-to="3"></li>
          <li data-target="#banner-carousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
           <div class="item active">
            <img src="../assets/images/mobfix-campaign.jpg" alt="Mobfix" class="img-responsive" style="height:50%">

          </div>
          <div class="item ">
            <img src="../assets/images/Mobfix4.jpeg" alt="Mobfix" class="img-responsive">
          </div>
          <div class="item">
            <img src="../assets/images/Mobfix2.jpeg" alt="Mobfix" class="img-responsive">
          </div>
          <div class="item">
            <img src="../assets/images/Moafix.jpeg" alt="Mobfix" class="img-responsive">
          </div>
          <div class="item">
            <img src="../assets/images/Mobfix3.jpeg" alt="Mobfix" class="img-responsive">

          </div>

        </div>

      </div>
    </div>
  </div>
  <div class="row m-t-15">
    <div class="mobifixsmart">
      <input type="text" placeholder="  Type Brand or Model Name (e.g. Apple , Asus, Xperia X)" class="searchbar"><button type="submit" class="searchbaricon"><i class="glyphicon glyphicon-search"></i></button>
      <h3 class="bannercontent hidden-xs">SMART PHONES/TABLETS REPAIRING</h3>
      <p class="bannercontent hidden-xs">In Metro City Or In Suburb .. We’ve Got You Covered! Free Pickup and Delivery Service across 16000+ Pin Codes in India</p>
      <a role="button" href="/" ui-sref="mobileRepair" class="align">
        <button type="button" class="btn viewrepairbutton" ui-sref="mobileRepair">BOOK FOR REPAIRS</button>
      </a>
    </div>
  </div>
  <div class="row viewcontent">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <h4 class="headingh4">HOW IT WORKS </h4>
      <hr class="HIWhr" />
    </div>

  </div>
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12 col-lg-3 m-t-10 p-a-5">
      <div class="text-center p-a-10 text-container-cust">
        <img src="../assets/images/MobFix_icons_2019-1.png" class="imageservices">
        <div>
          <h4><strong>FREE PICK UP</strong></h4>
          <p class="text-black p-t-10">We at Mobfix provide hassle free pick-up for your mobile devices as we understand the demands of life keeps us all busy. We will take care of all the running for you.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 col-lg-3 m-t-10 p-a-5">
      <div class="text-center p-a-10 text-container-cust">
        <img src="../assets/images/Assesment.png" class="imageservices">
        <div>
          <h4><strong>DEVICE ASSESSMENT</strong></h4>
          <p class="text-black p-t-10">Our skilled technicians are well trained in assessing a device and ensure that it is working to its optimum functions both hardware and Software. We make sure you have your phone in 100% condition.</p>

        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 col-lg-3 m-t-10 p-a-5">
      <div class="text-center p-a-10 text-container-cust">
        <img src="../assets/images/REPAIR_TEST.png" class="imageservices">
        <div>
          <h4><strong>REPAIR & TEST</strong></h4>
          <p class="text-black p-t-10">The Team after assessing the device perform all the necessary repairs needed. On completion we run a thorough test to ensure the device completely functional and operational.</p>

        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 col-lg-3 m-t-10 p-a-5">
      <div class="text-center p-a-10 text-container-cust">
        <img src="../assets/images/Delivery3.png" class="imageservices">
        <div>
          <h4><strong>DEVICE DELIVER</strong></h4>
          <p class="text-black p-t-10">Once team have efficiently performed assessment, repair and testing. The device is approved for delivery to your address by one of our friendly couriers.</p>

        </div>
      </div>
    </div>
  </div>
  <div class="row MobFixcontent">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <h4 class="whyMobfix1">WHY MOBFIX ?</h4>
      <p class="whyMobfixp">
        MobFix is designed to deliver a service which hassle free, innovative and absolutely ensuring comfort and convenience. We aspire to be one of the best gadget repair portals in India. MobFix lets you place repair orders for your faulty mobile devices ranging from hand-held smartphones to tablets. We provide service to various common issues in relation to mobile devices . It could be  cracked screen, faulty battery, charging port issues, blurry camera, Faulty earpiece or speaker issue, or anything else, at MobFix we fix them all.
        <br />
        We provide free pickup and drop service for almost 16,000 postcodes in India. Your device will be picked from your home/office, repaired to perfection and will be delivered back to you within 24-48 hours depending on the kind of repair, availability of parts and your location.
        <br />
        We Apply  No Fix No Fee policy to all our repairs  except some like liquid damage and diagnostic services. So there is nothing to worry if the repair is not successful we won’t charge you anything. All prepaid orders would be refunded completely within 7 working days. Our customers get 60 days warranty period (except on liquid damage and diagnostic services) starting from the day gadget is delivered back to you after repair.
        <br />
        Go ahead, place an order and let us repair your Mobile device back  to perfection.
        <br />
        At MobFix we believe “Love Starts with Your Phone” and we ensure all the care it needs is provided by us.
      </p>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="whyblacyimg">
        <img src="../assets/images/8home_img.png" class="img-responsive">
      </div>
    </div>
  </div>

  <!-- our clients -->
  <div class="row OurClient hidden-xs">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
      <h4 class="Oksh4">OUR HAPPY CLIENTS</h4>
      <hr class="HIWhr" />
    </div>

    <!--<div class="col-md-1 col-sm-2 col-xs-3 col-lg-1 Arrow">
      <a href="#imageCarousel" class="glyphicon  left" data-slide="prev">
        <span class="glyphicon  glyphicon-chevron-left"></span>
      </a>
      <a href="#imageCarousel" class="glyphicon  right" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>-->
  </div>
  <!--  jquery sliders -->
  <div class="conatiner jquerySlider">

    <div class="row">

      <div class="col-md-12 col-sm-12 hidden-xs">
        <div id="imageCarousel" class="carousel slide" data-interval="2000">
          <ol class="carousel-indicators carousel-indicators1">
            <li data-target="#imageCarousel" data-wrap="true" data-slide-to="0" class="active"></li>
            <li data-target="#imageCarousel" data-slide-to="1"></li>
            <li data-target="#imageCarousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner slideinner">
            <div class="item active">
              <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 padnoneinSm">
                  <blockquote class="blockquote">
                    <div class="modalNserver">
                      <h3 class="Oksh3">Huawei G8</h3>
                      <p class="whyMobfixp">Broken Screen Repair</p>
                    </div>
                    <p class="whyMobfixp2">
                      <span><img src="../assets/images/q1.png"></span>Lovely and amazing service by MobFix
                      <span><img src="../assets/images/q2.png"></span>
                    </p>
                    <div class="testimonial-user whyMobfixp3">
                      <div class="testimonial-user-name">
                        Jude Jegan                            <h6>Chennai</h6>
                      </div>
                    </div>
                  </blockquote>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 padnoneinSm">
                  <blockquote class="blockquote">
                    <div class="modalNserver">
                      <h3 class="Oksh3">Blackberry Passport</h3>
                      <p class="whyMobfixp">Broken Screen Repair</p>
                    </div>
                    <p class="whyMobfixp2">
                      <span><img src="../assets/images/q1.png"></span>Amazing service. I was about to throw my blackberry passport before getting service from MobFix
                      <span><img src="../assets/images/q2.png"></span>
                    </p>
                    <div class="testimonial-user whyMobfixp3">
                      <div class="testimonial-user-name">
                        Brucin John                            <h6>Kanyakumari</h6>
                      </div>
                    </div>
                  </blockquote>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 padnoneinSm">
                  <blockquote class="blockquote">
                    <div class="modalNserver">
                      <h3 class="Oksh3">Motorola Moto G 1st Gen</h3>
                      <p class="whyMobfixp">Broken Screen Repair</p>
                    </div>
                    <p class="whyMobfixp2">
                      <span><img src="../assets/images/q1.png"></span>Best service provider ever. Genuine product installed and awesome customer service.
                      <span><img src="../assets/images/q2.png"></span>
                    </p>
                    <div class="testimonial-user whyMobfixp3">
                      <div class="testimonial-user-name">
                        Manju R                            <h6>Pathanamthitta , Kerala</h6>
                      </div>
                    </div>
                  </blockquote>
                </div>

              </div>
            </div>
            <div class="item">
              <div class="row">

                <div class="col-md-4 col-sm-4 col-xs-12 padnoneinSm">
                  <blockquote class="blockquote">
                    <div class="modalNserver">
                      <h3 class="Oksh3">Asus Nexus 7 2nd Gen</h3>
                      <p class="whyMobfixp">Broken Screen Repair</p>
                    </div>
                    <p class="whyMobfixp2">
                      <span><img src="../assets/images/q1.png"></span>As expected, display is working like original. Thanks MobFix for repairing my Nexus 7
                      <span><img src="../assets/images/q2.png"></span>
                    </p>
                    <div class="testimonial-user whyMobfixp3">
                      <div class="testimonial-user-name">
                        Brij Mohan                            <h6>Pune</h6>
                      </div>
                    </div>
                  </blockquote>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 padnoneinSm">
                  <blockquote class="blockquote">
                    <div class="modalNserver">
                      <h3 class="Oksh3">Samsung Galaxy S4 I9500</h3>
                      <p class="whyMobfixp">Broken Screen Repair and Charging Port Repair</p>
                    </div>
                    <p class="whyMobfixp2">
                      <span><img src="../assets/images/q1.png"></span>Thank you for repairing my phone and sending it back within 3 days time.
                      <span><img src="../assets/images/q2.png"></span>
                    </p>
                    <div class="testimonial-user whyMobfixp3">
                      <div class="testimonial-user-name">
                        Abhishek Gopalan                            <h6>Mumbai</h6>
                      </div>
                    </div>
                  </blockquote>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 padnoneinSm">
                  <blockquote class="blockquote">
                    <div class="modalNserver">
                      <h3 class="Oksh3">Sony Xperia Z2</h3>
                      <p class="whyMobfixp">Power Button Repair</p>
                    </div>
                    <p class="whyMobfixp2">
                      <span><img src="../assets/images/q1.png"></span>Best repair portal in India. My Xperia Z2 is awesome like before. Thanks
                      <span><img src="../assets/images/q2.png"></span>
                    </p>
                    <div class="testimonial-user whyMobfixp3">
                      <div class="testimonial-user-name">
                        Parishmita Gogoi                            <h6>Dibrugarh, Assam</h6>
                      </div>
                    </div>
                  </blockquote>
                </div>

              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 padnoneinSm">
                  <blockquote class="blockquote">
                    <div class="modalNserver">
                      <h3 class="Oksh3">Huawei G8</h3>
                      <p class="whyMobfixp">Broken Screen Repair</p>
                    </div>
                    <p class="whyMobfixp2">
                      <span><img src="../assets/images/q1.png"></span>Lovely and amazing service by MobFix
                      <span><img src="../assets/images/q2.png"></span>
                    </p>
                    <div class="testimonial-user whyMobfixp3">
                      <div class="testimonial-user-name">
                        Jude Jegan                            <h6>Chennai</h6>
                      </div>
                    </div>
                  </blockquote>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 padnoneinSm">
                  <blockquote class="blockquote">
                    <div class="modalNserver">
                      <h3 class="Oksh3">Blackberry Passport</h3>
                      <p class="whyMobfixp">Broken Screen Repair</p>
                    </div>
                    <p class="whyMobfixp2">
                      <span><img src="../assets/images/q1.png"></span>Amazing service. I was about to throw my blackberry passport before getting service from MobFix
                      <span><img src="../assets/images/q2.png"></span>
                    </p>
                    <div class="testimonial-user whyMobfixp3">
                      <div class="testimonial-user-name">
                        Brucin John                            <h6>Kanyakumari</h6>
                      </div>
                    </div>
                  </blockquote>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 padnoneinSm">
                  <blockquote class="blockquote">
                    <div class="modalNserver">
                      <h3 class="Oksh3">Motorola Moto G 1st Gen</h3>
                      <p class="whyMobfixp">Broken Screen Repair</p>
                    </div>
                    <p class="whyMobfixp2">
                      <span><img src="../assets/images/q1.png"></span>Best service provider ever. Genuine product installed and awesome customer service.
                      <span><img src="../assets/images/q2.png"></span>
                    </p>
                    <div class="testimonial-user whyMobfixp3">
                      <div class="testimonial-user-name">
                        Manju R                            <h6>Pathanamthitta , Kerala</h6>
                      </div>
                    </div>
                  </blockquote>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
  <hr class="hr2 hidden-xs" />

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 MobFixcontentbg" id="Contactus">

      <div class="contact-bg">

        <div class="col-md-12 cont-head">
          <h2>QUESTION, COMMENTS?</h2>
          <p class="color">Let us know !</p>
        </div>

        <div class="col-md-8 col-sm-7 col-xs-12 form-style">
          <form class="form-horizontal" id="home_page_contact_form" method="post" novalidate="novalidate">
            <div class="form-group">
              <div class="col-sm-6 makeconright">
                <input type="text" id="fname" name="fname" class="form-control required" placeholder="First Name">
              </div>
              <div class="col-sm-6 makeconleft">
                <input type="text" id="lname" name="lname" class="form-control" placeholder="Last Name">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6 makeconright">
                <input type="text" id="Text3" name="phone" minlength="10" maxlength="10" class="form-control required number" placeholder="Phone">
              </div>
              <div class="col-sm-6 makeconleft">
                <input type="text" id="Text4" name="email" class="form-control required email" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <textarea id="feedback" name="feedback" class="form-control textarea" placeholder="Enter your feedback..." rows="5"></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12 formbtn">
                <button type="submit" name="SaveChanges" id="SaveChanges" value="Submit" class="btn subscribebutton">Send to us</button>
              </div>
            </div>
          </form>
        </div>

        <div class="col-md-4 col-sm-5 col-xs-12 reach">
          <div class="reach">
            <h3 class="reachh3">REACH US</h3>
            <div class="contact-txt">
              <ul class="conlink">
                <li>
                  <span class="iconaddress"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                  <div class="textadress">
                    <p>MobFix Business <br>Services Pvt Ltd  <br> 118, 1st floor, <br>chandralok residency,paradise, Secunderabad, Telangana 500003, India</p>
                  </div>
                </li>
                <li>
                  <span class="iconaddress"><i class="fa fa-phone" aria-hidden="true"></i></span>
                  <div class="textadress">
                    <p><a href="tel:+91 8448282445">+91 79950 63244</a></p>
                  </div>
                </li>
                <li>
                  <span class="iconaddress"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                  <div class="textadress">
                    <p><a href="mailto:info@mobifix.com.au">info@mobifix.com.au</a></p>
                  </div>
                </li>
              </ul>

            </div>
            <div class="inline-socila">
              <div class="social">
                <ul class="footer-social-icons">

                  <li>
                    <a href="#">
                      <img src="images/facebook_gold.png" alt="" class="footerfb" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="images/googleplus_black.png" alt="" class="footergplus" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="images/twitter_gold.png" alt="" class="footertwitter" />
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      <img src="images/instragram_black.png" alt="" class="footerwivfi" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="images/rssfeed_gold.png" alt="" class="footerwivfi" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    // Activate Carousel
    $("#myCarousel").carousel();

    // Enable Carousel Indicators
    $(".item1").click(function () {
      $("#myCarousel").carousel(0);
    });
    $(".item2").click(function () {
      $("#myCarousel").carousel(1);
    });
    $(".item3").click(function () {
      $("#myCarousel").carousel(2);
    });
    $(".item4").click(function () {
      $("#myCarousel").carousel(3);
    });

    // Enable Carousel Controls
    $(".left").click(function () {
      $("#myCarousel").carousel("prev");
    });
    $(".right").click(function () {
      $("#myCarousel").carousel("next");
    });
  });
</script>

<script type="text/javascript">
  $(document).ready(function () {
    $('#imageCarousel').carousel();
  });
</script>
