<div id="loginModal">
    <div class="">
        <div class="rcornerslogin">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
                <img src="../assets/images/login.png" class="img-rounded" alt="">
            </div>

            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 MembersLogin">
                <h3 class="title">Members Login</h3>


                <form class="box formbox">
                    <div class="inner-addon left-addon inputbox">
                        <i class="glyphicon glyphicon-user col"></i>
                        <input type="text" class="form-control input-borderless" id="userName" ng-model="vm.username" name="userName" placeholder="Username" required/>
                    </div>

                    <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-lock col"></i>
                        <input id="password" type="password" class="form-control input-borderless" ng-model="vm.password" name="password" placeholder="Password" required>
                    </div>

                    <div class="g-recaptcha" data-sitekey="6LeYWI8UAAAAAMIBrp0Utmfu9kAS0xb6_WMPTPFM"></div>
<label style="color:red;display:none;font-size: 12px;" id="userPwd">UserName and Passord doesn't Match</label>
                    <p style="text-align:center;"> <label class="checkbox-inlinelogin">
                    
                <input type="checkbox" id="cb" name="cb" value="">
                  Remember Me ?
              </label></p>

       

                    <div class="wrapperlogin">
                        <button class="btn buttonlogin" ng-click="vm.login()">LOGIN</button>
                    </div>

                    <div class="Loginlog">
                        <h5 class="loginh5">Don't have an account ? <a ng-click="vm.openRegisterModal()" class="link"> REGISTER <span class="linkspan">HERE</span></a></h5>
                    </div>

                    <div class="Loginfg">
                        <h5 class="loginh5">Forget Password <a ng-click="vm.openResetPasswordModal()" class="link"> Reset</a></h5>
                    </div>


                    <div class="hr"></div>


                    <!-- Footer Elements -->
                    <div class="container social-icons">

                        <!-- Social buttons -->
                        <ul class="list-unstyled list-inline ">
                            <li class="facebook loginf">
                                <a href="#">
                                    <i class="fa fa-facebook"> </i>
                                </a>
                                <p class="loginpadding">Login With Facebook</p>
                            </li>
                        </ul>
                        <!-- Social buttons -->

                    </div>
                    <!-- Footer Elements -->

                </form>

            </div>
        </div>
    </div>
</div>