<!--{{myOrdersData}}-->
<div class="panel-body" style="height:350px;overflow-y:scroll">
  <table class="table table-bordered bordered table-striped table-condensed datatable" ui-jq="dataTable" ui-options="dataTableOpt" style="width:100%;height:500px">
    <tr>
      <th>SNO</th>
      <th>OrderID</th>
      <th>OrderPlacedDate</th>
      <th>OrderStatusDescrpition</th>
      <th>Issue Details</th>
      <th>Mobile Company</th>
      <th>Mobile version</th>
      <th>Final Cost</th>

    </tr>
    <tr ng-repeat="myOrdersData in myOrdersData">
      <td>{{myOrdersData.customeradminid}}</td>
      <td>{{myOrdersData.OrderID}}</td>
      <td>{{myOrdersData.OrderPlacedDate}}</td>
      <td>{{myOrdersData.OrderstatusDesc}}</td>
      <td>{{myOrdersData.IssueDetails}}</td>
      <td>{{myOrdersData.mobileCompany}}</td>
      <td>{{myOrdersData.mobileversion}}</td>
      <td>{{myOrdersData.FinalCost}}</td>

    </tr>

  </table>
</div>
