<div class="container-fluid" id="registerModal">
  <div class="container RSPContainer">
    <div class="row" id="SignInrcorners">

      <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
        <img src="../assets/images/login.png" class="img-roundedSignIn" alt="">
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 MembersSignIn">

      <div id="registerSuccess" class="alert alert-success" style="display:none;">
          Registration Successful !!
        </div>
  <div id="registerFailure"  class="alert alert-danger" style="display:none;">
   Registration not Successful
</div>
        <h3 class="title">Register</h3>


        <form class="box SignInformbox" id="registrationForm">
          <!--form [formGroup]="registerForm" (ngSubmit)="onSubmit()">-->
          <!-- <div class="inner-addon left-addon inputbox col">
    <i class="glyphicon glyphicon-user col"></i>
    <input type="text" class="form-control input-borderless" id="userName" name="userName" placeholder="User name" />
  </div>-->
          <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
            <div class="inner-addon left-addon inputbox col">
              <i class="glyphicon glyphicon-user col"></i>
              <input type="text" name="firstName" id="firstName" ng-model="vm.UserType" class="form-control input-borderless" placeholder="User name" required />
              <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
            </div>
          </div>


          <!--<div class="inner-addon left-addon">
      <i class="glyphicon glyphicon-envelope col"></i>
      <input id="email" type="text" class="form-control input-borderless" name="email" placeholder="Email">
  </div>-->
          <div class="inner-addon left-addon">
            <i class="glyphicon glyphicon-envelope col"></i>
            <input type="email" name="email" class="form-control input-borderless" ng-model="vm.username" placeholder="Email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/;" required>
            <div ng-messages="form.email.$error">
              <div ng-message="required">This field is required</div>
              <div ng-message="email">Your email address is invalid</div>
            </div>
          </div>


          <!--<div class="inner-addon left-addon">
    <i class="glyphicon glyphicon-phone col"></i>
    <input type="text" class="form-control input-borderless" name="phone" id="phone" placeholder="Mobile No" />
  </div>-->
          <!--ng-maxlength="10" ng-pattern="/^[0-9]{1,7}$/"  ng-minlength="10"-->

          <div class="inner-addon left-addon">
            <i class="glyphicon glyphicon-phone col"></i>
            <input type="number" name="phone" class="form-control input-borderless" ng-model="vm.ContactNumber" placeholder="Phone" ng-pattern="/^[(]{0,1}[0-9]{3}[)\.\- ]{0,1}[0-9]{3}[\.\- ]{0,1}[0-9]{4}$/;" maxlength="10" required>
            <div ng-messages="form.phone.$error">
              <!--<div ng-messages="form.phone.$error.minlength">
      <div ng-messages="form.phone.$error.maxlength">-->
              <div ng-messages="form.phone.$error.pattern">
                <div ng-message="required">This field is required</div>
                <div ng-message="phone">Enter your valid phone number</div>
              </div>
            </div>
          </div>
          <!--</div>
  </div>-->
          <!--<div class="inner-addon left-addon">
    <i class="glyphicon glyphicon-lock col"></i>
    <input id="password" type="password" class="form-control input-borderless" name="password" placeholder="Password">
  </div>-->

          <div class="inner-addon left-addon">
            <i class="glyphicon glyphicon-lock col"></i>
            <!--ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/"-->
            <input type="password" name="password" class="form-control input-borderless" ng-model="vm.password" placeholder="Password" required>
            <div ng-messages="form.password.$error">
              <div ng-messages="form.password.$error.pattern">
                <div ng-message="required">This field is required</div>
                <div ng-message="password">please type the correct password</div>
              </div>
            </div>
          </div>



          <p style="text-align:center;">
            <label class="checkbox-inlinesignin">
              <input type="checkbox" id="c1" required name="cb" value="">
              I Accept Terms and Conditions
            </label>
          </p>

          <div class="SignInwrapper">
            <button type="submit" class="btn buttonSignIn" value="Submit" ng-click="vm.register()">REGISTER</button>
          </div>

          <div class="logsignin">
            <h5 class="signinh5">Already have an account ? <a ng-click="vm.openloginModal()" class="link"> LOGIN</a></h5>
          </div>


          <div class="hr"></div>


          <!-- Footer Elements -->
          <div class="container social-icons">

            <!-- Social buttons -->
            <ul class="list-unstyled list-inline social-icons">
              <li class="facebook signinf">
                <a href="#">
                  <i class="fa fa-facebook"> </i>
                </a>
                <p class="loginpadding">Login With Facebook</p>
              </li>
            </ul>
            <!-- Social buttons -->

          </div>
          <!-- Footer Elements -->
        </form>

      </div>

    </div>
  </div>
</div>
