<div class="container-fluid">
  {{vm.status}}
  
  <div class="StatusBtm">

    <div class="row StatusBG">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <p class="statuscontent">
          Using the form below, simply enter the order number you were provided when you completed checkout (and in your order confirmation email) and the e-mail address you used to place your order. We will fetch and display your order and status
          along with any special notes that may have been added.
        </p>
      </div>

    </div>

    <div class="StatusTrack">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-5">
          <label for="name" class="Statuslabel">Order ID:</label>
        </div>        
        <div class="col-md-7 col-sm-7 col-xs-7">
          <input type="text" class="Statustext" ng-model="vm.OrderID"/>
        </div>
      </div>

      <!--<div class="row">
          <div class="col-md-3 col-sm-3 col-xs-5">
              <label for="name" class="Statuslabel">Email ID:</label>
          </div>

          <div class="col-md-7 col-sm-7 col-xs-7">
              <input type="text" class="Statustext" />
          </div>
      </div>

      <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-5">
              <label for="name" class="Statuslabel">Mobile Number:</label>
          </div>-->
      <!--<div class="col-md-7 col-sm-7 col-xs-7">
              <input type="text" class="Statustext" />
          </div>
      </div>-->

      <div class="row">
        <div class="col-md-12 col-sm-12">
          <p class="trackp">
            <button type="button" class="btn btntrack" ng-click="vm.status()">TRACK YOUR ORDER</button>

          </p>
        </div>
      </div>

    </div>

    <div class="StatusOderNo">
      <div class="row OrderstatusNo">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <!--<label for="name" class="Orderlabel">ORDER ID:</label>
          <input type="text" class="OrderlabelNo" id="finalCost"></input>-->

          <label class="Orderlabel" for="models">ORDER ID:</label>
          <input type="text" class="OrderlabelNo" value="{{vm.statusData.OrderID}}" disabled></input>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
          <label for="name" class="OrderlabelDT">ORDER DATE & TIME:</label>
          <input type="text" class="OrderlbDT" value="{{vm.statusData.ExpectedDate}}" disabled></input>
        </div>
      </div>

      <div class="row Orderstatus">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <label for="name" class="OrderStatuslabel">Status:</label>
          <input type="text" class="OrderStatuslabelNo" value="{{vm.statusData.OrderstatusDesc}}" disabled></input>
          <!--<label for="name" class="OrderStatuslabelNo">Quality Checking</label>-->

        </div>

        <div class="col-md-9 col-sm-8 col-xs-12">
          <label for="name" class="OrderlabelStatusDT">Expected Date:</label>
          <input type="text" class="OrderlbStatusDT" value="{{vm.statusData.ExpectedDate}}" disabled></input>
          <!--<label for="name" class="OrderlbStatusDT">9/20/2018 </label>-->
        </div>
      </div>

      <div class="row statuswidth1">
        <div class="col-xs-2 col-lg-2 col-sm-2">
          <img src="../assets/images/confitmed order.png" class="Statuswidth" />
          <p class="ordertrackingcontent">
            Confirmed Order
          </p>
        </div>
        <div class="col-xs-2 col-lg-2 col-sm-2">
          <img src="../assets/images/processing order.png" class="Statuswidth" />
          <p class="ordertrackingcontent">
            Processing Order
          </p>
        </div>
        <div class="col-xs-2 col-lg-2 col-sm-2">
          <img src="../assets/images/quality.png" class="Statuswidth" />
          <p class="ordertrackingcontent">
            Quality Check
          </p>
        </div>
        <div class="col-xs-2 col-lg-2 col-sm-2">
          <img src="../assets/images/dispatched.png" class="Statuswidth" />
          <p class="ordertrackingcontent">
            Dispatched Item
          </p>
        </div>
        <div class="col-xs-2 col-lg-2 col-sm-2">
          <img src="../assets/images/delevered.png" class="Statuswidth" />
          <p class="ordertrackingcontent">
            Product Delivered
          </p>
        </div>
      </div>

    </div>

  </div>
</div>
