<div class="container-fluid MRBtm">
  <div class="row PDFcontent1">
    <div class="col-md-12 col-xs-12">
      <h4 class="headingh4">TERMS AND SERVICES <br /> LAST UPDATED: JANUARY 16, 2019</h4>
      <p class="contentp1">
        Please read the following terms of service carefully before using Mobfix Services (hereinafter “Services”). The Website and its services are made available by Mobfix, a Mobfix incorporated in India under the laws of India (hereafter “Mobfix”). This Website and Services is offered to you (hereafter the “User”), conditioned on your acceptance of these Terms of Service. The Terms of Service will be deemed to constitute a legally binding contract between User and Mobfix. If you do not accept these Terms of Service, please do not order the Services.
      </p>
    </div>

    <div class="col-md-12 col-xs-12">
      <h4 class="headingh41">SERVICES</h4>
      <ul class="termslist">
        <li class="contentp1">
          Mobfix provides doorstep repair services for mobile and other small electronic devices (“Device or Devices”).
        </li>
        <li class="contentp2">
          User request the services though the Website. The acceptance and processing of any request for the services placed by the User will be at the sole discretion of Mobfix and the User shall have no claim and shall not be entitled to raise any dispute with Mobfix or its affiliates in case of its/their refusal to accept any request(s) for services placed by the User through the Website.
        </li>
        <li class="contentp2">
          Mobfix may carry out such checks as it deems appropriate prior to accepting any service request(s) placed by the User on the Website for security or other reasons and accordingly Mobfix reserves the right to reject any request(s).
        </li>
        <li class="contentp2">
          User will be required to enter a valid phone number while placing a request for services available on the Website. By registering his/her phone number on the Website, the User consents to be contacted via phone calls and/or SMS notifications, in case of any order or shipment or pickup or delivery related confirmation, including verification of pickup and delivery address. In the event the User cannot be contacted after the initial attempt, Mobfix reserves the right to cancel/delay the order placed by the User. Mobfix will use its best efforts to deliver the products pursuant to any order(s) placed by the User and accepted by Mobfix within the time period applicable to such order(s). Notwithstanding anything contained, Mobfix shall not be held liable for, and the User shall have no claim against Mobfix whether in law or equity, for any delay in delivery of the products so bailed.
        </li>
        <li class="contentp2">
          Products once delivered, unless found defective, will not be taken back by Mobfix. Mobfix’s only liability towards the User in respect of orders placed through the Website will be for replacement of any defective products or unsatisfactory service, or services for which user was billed for, after Mobfix has verified the User’s claim to its satisfaction.
        </li>
        <li class="contentp2">
          In the event that the User refuses any service and wishes back delivery, after the initial pickup and technical verification of the product by Mobfix, pursuant to the order placed by the User through the Website, the User shall nonetheless be liable for payment of service charges associated with such products and Mobfix or its affiliates or third party carrier shall have the right to recover such service charges from the User.
        </li>
        <li class="contentp2">
          Processing of payments for orders purchased through the Website is facilitated by a third party payment gateway. Mobfix shall have no responsibility or liability for any payment related dispute or claims for refund and the User should directly contact the third party payment gateway and/or the bank for any issues related to payment for products purchased through the Website. Mobfix does not have to access to or store any information provided by the User whilst making payments for any products using the third party payment gateway. The collection and usage of such information will be governed by the policies of the payment gateway provider.
        </li>
      </ul>
    </div>
    <div class="col-md-12 col-xs-12">
      <h4 class="headingh41">ACKNOWLEDGEMENT BY USER</h4>
      <ul class="termslist">
        <li class="contentp1">
          User acknowledges that he or she is the legal and bona fide owner of the Device submitted to Mobfix for provision of Services.
        </li>
        <li class="contentp2">
          User acknowledges that Mobfix has the authority to surrender your device to appropriate authorities if it is found to be stolen. Mobfix will not be liable for any damages in this case.
        </li>
        <li class="contentp2">
          User acknowledges that Mobfix will not be liable for any damages if the Device submitted by the User does not turn on or is dead at the time of submission.
        </li>
      </ul>
    </div>
    <div class="col-md-12 col-xs-12">
      <h4 class="headingh41">LIMITED LIABILITY</h4>
      <ul class="termslist">
        <li class="contentp1">
          EXCEPT AS SPECIFICALLY SET FORTH ELSEWHERE IN THESE TERMS:
        </li>
        <li class="contentp2">
          Under no circumstances, even if Mobfix has been advised of the possibility of the following damages, and unless expressly forbidden by applicable law related to the services, will Mobfix be liable to you for any indirect, incidental, special, exemplary, punitive, or consequential damages, including but not limited to lost profits, lost data, personal injury, or property damage. Mobfix shall not be liable for any damages, liability or losses incurred by you arising out of:
        </li>
        <ul class="termslist">
          <li class="contentp2">
            Your use of or reliance on the services or your inability to access or use the services; or
          </li>
          <li class="contentp2">
            Mobfix shall not be liable for delay or failure in performance resulting from causes beyond Mobfix's reasonable control. Notwithstanding anything in these terms to the contrary, in no event shall Mobfix total liability to you in connection with the services for all damages, losses and causes of action exceed the sum paid by the User
          </li>
        </ul>
        <li class="contentp2">
          By using the services you agree that the entire risk arising out of your use of the services, and any third party good or services obtained in connection therewith, is borne solely by you, to the maximum extent permitted by law.
        </li>
        <li class="contentp2">
          These limitations do not purport to limit liability that cannot be excluded under the law in the jurisdiction where the services to you are actually rendered.
        </li>
      </ul>
    </div>
    <div class="col-md-12 col-xs-12">
      <h4 class="headingh41">INDEMNIFICATION</h4>
      <p class="contentp1">
        The User agrees to defend, indemnify and hold Mobfix harmless from and against any and all claims, damages, costs and expenses, including advocates fees, arising from and related to User’s access and use of the Website.
      </p>
    </div>
    <div class="col-md-12 col-xs-12">
      <h4 class="headingh41">MODIFICATIONS</h4>
      <p class="contentp1">
        User’s use of this Service constitutes User’s agreement to be bound, without any modifications or reservations whatsoever, by these Terms of Service, which may be updated or modified from time to time without notice to User. Any changes shall become part of these Terms of Service and shall apply immediately. By continuing to use this Service after such modifications, User indicates acceptance of those modifications. User may also be required to re-accept a substantially revised Terms of Service to continue to use this Service.
      </p>
    </div>
    <div class="col-md-12 col-xs-12">
      <h4 class="headingh41">GOVERNING LAW AND JURISDICTION</h4>
      <p class="contentp1">
        These Terms of Service are governed by the laws of India. User hereby consents to the exclusive jurisdiction and venue of courts in Hyderabad in all disputes arising out of or relating to the use of this Service. Use of this Service is unauthorized in any jurisdiction that does not give effect to all provisions of these Terms of Service, including without limitation this paragraph.
      </p>
      <ul class="termslist">
        <li class="contentp1">
          	Any rights or permissions not expressly granted herein are reserved.
        </li>
        </ul>
    </div>
  </div>
</div>
